// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;
$overlay1: #7f849c;
$base: #1e1e2e;
$mantle: #181825;
$text: #cdd6f4;
$font1: "JetBrainsMono Nerd Font";
$font2: "Noto Sans";

* {
  font-family: $font2;
}
